* {
    overflow-x: hidden;
    cursor: url("Images/2.png"), auto; 
    scrollbar-width: none;     
    -ms-overflow-style: none;  
}
body {
    cursor: url("Images/2.png"), auto;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background: linear-gradient(#8c75bc, #AD8AE1);
}
.outline a:hover{
    cursor: url("Images/1.png"), pointer;
}
button:hover {
    cursor: url("Images/1.png"), pointer;
}
.banner {
    background-image: url(Images/banner.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    image-rendering: -webkit-optimize-contrast;
    width:1300px;
    height:175px;
}
.header {
    top:0;
    position:relative;
    z-index:5;
    background-image: url(Images/header.png);
    background-size: 100% auto;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    width:1300px;
    height:90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.background {
    display:flex;
    border-radius:5px;
    justify-content: center;
    margin:20px auto;
    padding:0;
    background: linear-gradient(#8c75bc, #AD8AE1);
    width:1310px;
    flex-direction: column;
}
.header-nav,
.log-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    font-family: "Cherry Bomb One", system-ui;
}

.header-nav li a,
.log-nav li a {
    position: relative;
    z-index: 1;
    line-height: 1.2;
    padding-left: 13px;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(#AD8AE1, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size:32px;
    margin-right:35px;
    font-weight:600;
    text-decoration: none;
}
.header-nav li a:hover,
.log-nav li a:hover {
    transform: scale(1.05);
}


button{
    font-family: "Cherry Bomb One", system-ui;
    font-size: 70px;
    gap: 30px;
    margin: 10px;
}
h3{
    color: #FFFF;
    font-size: 25px;
    margin-left: 20px;
}
.logBox {
    display: block;
    width: 90%;
    max-width: 600px;
    height: 300px;
    padding: 15px;
    border-radius: 8px;
    background: #1f062940;
    overflow-y: scroll;
    scrollbar-width: none;
    color: #FFFF;
    margin-bottom: 10px;
    margin-left: 20px;
}
.logEntry {
    padding: 6px;
    border-bottom: 1px solid #ddd;
}

.timestamp {
    font-size: 12px;
    opacity: 0.7;
}
.navButton {
    background: none;
    border: none;
    cursor: url("Images/2.png"), auto;
    font-family: "Cherry Bomb One", system-ui;
    font-size: 32px;
    font-weight: 600;
    margin-right: 35px;
    padding-left: 13px;
    background: linear-gradient(#AD8AE1, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: transform 0.3s ease-in-out;
}

.navButton:hover {
    transform: scale(1.05);
    cursor: url("Images/1.png"), pointer;
}


.navButtonWrapper {
    filter:
        drop-shadow(1px 1px 0 #9F7FCF)
        drop-shadow(-1px 1px 0 #9F7FCF)
        drop-shadow(1px -1px 0 #9F7FCF)
        drop-shadow(-1px -1px 0 #9F7FCF)
        drop-shadow(1.6px 1.6px 0 #9F7FCF)
        drop-shadow(-1.5px 2px 0 #9F7FCF)
        drop-shadow(1.5px -2px 0 #9F7FCF)
        drop-shadow(-1.5px -1.5px 0 #9F7FCF);
}
.outline{
     filter:
    drop-shadow(1px 1px 0 #9F7FCF)
    drop-shadow(-1px 1px 0 #9F7FCF)
    drop-shadow(1px -1px 0 #9F7FCF)
    drop-shadow(-1px -1px 0 #9F7FCF)
    drop-shadow(1.6px 1.6px 0 #9F7FCF)
    drop-shadow(-1.5px 2px 0 #9F7FCF)
    drop-shadow(1.5px -2px 0 #9F7FCF)
    drop-shadow(-1.5px -1.5px 0 #9F7FCF);
}
.footer {
  width: 100%;
  text-align: center;
  color: #471656; 
  font-size: 0.9rem;
  padding: 15px 0;
  position: absolute;
  /* bottom: 10px;
  left: 50%;
  transform: translateX(-50%);  */
}