.banner-stack {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

body{
    background: linear-gradient(#8c75bc, #AD8AE1);
    font-family: 'Courier New', Courier, monospace;
    color: #FFF;
}

.top-banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-banner img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.options{
    display: flex;
    justify-content: flex-start;
}

button{
    font-family: "Cherry Bomb One", system-ui;
    font-size: 70px;
    gap: 30px;
    margin: 10px;
}

.logBox {
    width: 90%;
    max-width: 600px;
    height: 250px;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 8px;
    background: #1f062940;
    overflow-y: scroll;
    scrollbar-width: none;
}

.logEntry {
    padding: 6px;
    border-bottom: 1px solid #ddd;
}

.timestamp {
    font-size: 12px;
    opacity: 0.7;
}

