* {
    overflow-x: hidden;
    cursor: url("Images/2.png"), auto; 
    scrollbar-width: none;     
    -ms-overflow-style: none;  
}
*::-webkit-scrollbar {
  display: none;              
}
.flexbox-container {
  display:flex;
  flex-direction: row;
  margin: 5px auto;
  padding:0;
}  
body {
    cursor: url("Images/2.png"), auto;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.outline a:hover{
    cursor: url("Images/1.png"), pointer;
}
button:hover {
    cursor: url("Images/1.png"), pointer;
}
.banner {
    background-image: url(Images/banner.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    image-rendering: -webkit-optimize-contrast;
    width:1300px;
    height:175px;
}
.header {
  top:0;
  overflow:hidden;
  position:relative;
  z-index:5;
  background-image: url(Images/header.png);
  background-size: 100% auto;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  width:1300px;
  height:85px;
}
.header-nav:-webkit-scrollbar {
  display: none;
}
.background {
  display:flex;
  border-radius:5px;
  justify-content: center;
  margin:20px auto;
  padding:0;
  background: linear-gradient(#8c75bc, #AD8AE1);
  width:1310px;
  height:800px;
}
.header-nav li {
  padding:5px;
  margin:0;
  font-family: "Cherry Bomb One", system-ui;
  float: left;
  list-style: none;
}
.log-nav {
  display:flex;
  margin: 5px 13px 15px 10px;
  float: right;
}
.log-nav li a {
  line-height: 1.2;
  position: relative; 
  z-index: 2;  
  font-family: "Cherry Bomb One", system-ui;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(#AD8AE1, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size:32px;
  display:flex;
  margin-right:35px;
  font-weight:600;
  display:inline-block;
  list-style:none;
  text-decoration: none;
}
.header-nav {
  display:flex;
  margin: 14px 12px 15px 10px; 
  padding:0;
  float: left;
}
.header-nav li a {
  position: relative; 
  z-index: 1;
  line-height: 1.2;  
  padding-left: 13px;
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(#AD8AE1, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size:32px;
  display:flex;
  margin-right:35px;
  font-weight:600;
  display:inline-block;
  list-style:none;
  text-decoration: none;
}
.attachedHeader-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.attachedHeader-nav {
  background-image: url(Images/attachedBanner.png);
  background-size: 100% auto;
  image-rendering: -webkit-optimize-contrast;
  top:0;
  left:0;
  right:0;
  margin:0;
  padding:0;
  position:fixed;
  image-rendering: -webkit-optimize-contrast;
  width:100%;
  height:165px;
}
.attachedHeader-nav {
  display:flex;
  float: left;
}
.attachedHeader-nav li a {
  line-height: 1.2;  
  position: relative; 
  z-index: 10;
  padding: 20px 0px 20px 50px;
  font-family:"Cherry Bomb One", system-ui;
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(#AD8AE1, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size:32px;
  display:flex;
  margin-right:35px;
  font-weight:600;
  display:inline-block;
  list-style:none;
  text-decoration: none;
}
.attachedLog-nav {
  display:flex;
  float: right;
  margin-left:90px;
}

button{
    font-family: "Cherry Bomb One", system-ui;
    font-size: 70px;
    gap: 30px;
    margin: 10px;
}
h3{
    color: #FFFF;
    font-size: 25px;
    margin-left: 20px;
}
.logBox {
    display: block;
    width: 90%;
    max-width: 600px;
    height: 300px;
    padding: 15px;
    border-radius: 8px;
    background: #1f062940;
    overflow-y: scroll;
    scrollbar-width: none;
    color: #FFFF;
    margin-bottom: 10px;
    margin-left: 20px;
}
.logEntry {
    padding: 6px;
    border-bottom: 1px solid #ddd;
}

.timestamp {
    font-size: 12px;
    opacity: 0.7;
}

.deleteOrderBtn {
    margin-top: 8px;
    padding: 6px 12px;
    background-color: #AD8AE1;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: url("Images/2.png"), auto;
    font-family: "Courier New", monospace;
}

.deleteOrderBtn:hover {
    background-color: #cba4ff;
    cursor: url("Images/1.png"), pointer;
}
.navButton {
    background: none;
    border: none;
    cursor: url("Images/2.png"), auto;
    font-family: "Cherry Bomb One", system-ui;
    font-size: 32px;
    font-weight: 600;
    margin-right: 35px;
    padding-left: 13px;
    background: linear-gradient(#AD8AE1, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: transform 0.3s ease-in-out;
}

.navButton:hover {
    transform: scale(1.05);
    cursor: url("Images/1.png"), pointer;
}


.navButtonWrapper {
filter:
    drop-shadow(1px 1px 0 #9F7FCF)
    drop-shadow(-1px 1px 0 #9F7FCF)
    drop-shadow(1px -1px 0 #9F7FCF)
    drop-shadow(-1px -1px 0 #9F7FCF)
    drop-shadow(1.6px 1.6px 0 #9F7FCF)
    drop-shadow(-1.5px 2px 0 #9F7FCF)
    drop-shadow(1.5px -2px 0 #9F7FCF)
    drop-shadow(-1.5px -1.5px 0 #9F7FCF);
}
.outline{
     filter:
    drop-shadow(1px 1px 0 #9F7FCF)
    drop-shadow(-1px 1px 0 #9F7FCF)
    drop-shadow(1px -1px 0 #9F7FCF)
    drop-shadow(-1px -1px 0 #9F7FCF)
    drop-shadow(1.6px 1.6px 0 #9F7FCF)
    drop-shadow(-1.5px 2px 0 #9F7FCF)
    drop-shadow(1.5px -2px 0 #9F7FCF)
    drop-shadow(-1.5px -1.5px 0 #9F7FCF);
}
.footer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #c653b4;
}