   
   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: url("Images/2.png"), auto;
    font-family: 'Courier New', Courier, monospace;
   }
   body {
      font-family: Arial, sans-serif;
      background: linear-gradient(to bottom right, #ffe6ff, #e6f0ff, #f3e6ff);
      margin: 0;
      padding: 20px;
      color: #4a4a4a;
    }
    .heading {
      text-align: center;
    }
    h1 {
      text-align: center;
      color: #8a7fcf;
      font-size: 2.5rem;
    }

    .container {
      display: flex;
      gap: 40px;
      justify-content: center;
      margin-top: 20px;
    
    }

    .menu, .cart {
      width: 40%;
      background: white;
      border-radius: 30px;
      padding: 20px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    h2 {
      color: #a175d3;
      border-bottom: 2px solid #d8c8ff;
      padding-bottom: 8px;
    }

    .item {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #eee;
    }

    button {
      padding: 6px 12px;
      border: none;
      background: #c7b7ff;
      color: white;
      border-radius: 10px;
      cursor: pointer;
    }

    button:hover {
      background: #b39bff;
      cursor: url("Images/1.png"), pointer;
    }

    .checkout-btn {
      width: 100%;
      margin-top: 20px;
      padding: 12px;
      background: #ffb3e6;
      font-size: 1rem;
    }

    .checkout-btn:hover {
      background: #ff99dd;
      cursor: url("Images/1.png"), pointer;
    }
    .footer,
.footer-two {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0 5px 0;
}

.footer p,
.footer-two p {
    color: #666;
    font-size: 15px;
    cursor: pointer;
}

.footer p:hover,
.footer-two p:hover {
    color: #000;
}

.copyright {
    text-align: center;
    color: #808080;
    padding: 10px;
}
.item { display:flex; justify-content:space-between; margin-bottom:10px; }
.item span { flex:1; }
button { padding:5px 10px; border:none; border-radius:5px; background:#7c5cff; color:white; cursor:pointer; }