  
    /*  Selects all elements and hides overflow + also the cursor is changed to be custom */
    * {
    overflow-x: hidden;
    cursor: url("Images/2.png"), auto; 
  scrollbar-width: none;     
  -ms-overflow-style: none;  
}

*::-webkit-scrollbar {
  display: none;              
}
    /* Flexbox Container for overall layout */
    .flexbox-container {
    display:flex;
    flex-direction: column;
    margin: 5px auto;
    padding:0;
}   

  body {
    margin: 0;
    padding:0;
  }

    /* Banner Image at the top of the page */
    .banner {
    background-image: url(Images/banner.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    image-rendering: -webkit-optimize-contrast;
    width:1300px;
    height:175px;
    }

    /* Header Section Style (comes with nav) */
    .header {
    top:0;
    overflow:hidden;
    position:relative;
    z-index:5;
    background-image: url(Images/header.png);
    background-size: 100% auto;
      image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    width:1300px;
    height:85px;
    }

     /* Cart Icon but for header */
    .cartIcon {
       transform-origin: center;
      display:flex;
      font-size: 40px;
      margin:2px 20px 20px 20px;
      padding:10px;
      color:#9F7FCF;
      filter:
    drop-shadow(1px 1px 0 #9F7FCF)
    drop-shadow(-1px 1px 0 #9F7FCF)
    }

      .header-nav:-webkit-scrollbar {
      display: none;
      }

      /* Nav for Login and Cart Sec */
      .header-nav li {
        padding:0;
        margin:0;
    font-family: "Cherry Bomb One", system-ui;
    float: left;
    list-style: none;
    
    }

    /* Login and Cart Sec */
    .log-nav {
        display:flex;
        margin: 5px 13px 15px 10px;
        float: right;
    }

 /* Login and Cart Sec */
    .log-nav li a {
        line-height: 1.2;
        position: relative; 
        z-index: 2;  
        font-family: "Cherry Bomb One", system-ui;
        padding: 10px;
         transition: transform 0.3s ease-in-out;
         background: linear-gradient(#AD8AE1, #ffffff);
        -webkit-background-clip: text;
        background-clip: text;
         color: transparent;
        font-size:32px;
        display:flex;
        margin-right:35px;
        font-weight:600;
        display:inline-block;
        list-style:none;
        text-decoration: none;
    }

      /* Navigation Sec */
    .header-nav {
        display:flex;
        margin: 14px 12px 15px 10px; 
       padding:0;
        float: left;
    }

    /* Navigation */
    .header-nav li a {
        position: relative; 
        z-index: 1;
        line-height: 1.2;  
        padding-left: 13px;
         transition: transform 0.3s ease-in-out;
         background: linear-gradient(#AD8AE1, #ffffff);
        -webkit-background-clip: text;
        background-clip: text;
         color: transparent;
        font-size:32px;
        display:flex;
        margin-right:35px;
        font-weight:600;
        display:inline-block;
        list-style:none;
        text-decoration: none;
    }


    /* Attached Header Sec (shows up when scrolling) */
    .attachedHeader-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

    /* Attached Header Nav (shows up when scrolling) */
    .attachedHeader-nav {
      background-image: url(Images/attachedBanner.png);
      background-size: 100% auto;
      image-rendering: -webkit-optimize-contrast;
       top:0;
       left:0;
       right:0;
       margin:0;
       padding:0;
       position:fixed;
    image-rendering: -webkit-optimize-contrast;
    width:100%;
    height:165px;
    }

    /* Navigation Sec for attached Header */
    .attachedHeader-nav {
        display:flex;
        float: left;
    }

    /* Navigation for attached Header */
    .attachedHeader-nav li a {
        line-height: 1.2;  
        position: relative; 
        z-index: 10;
        padding: 20px 0px 20px 50px;
        font-family:"Cherry Bomb One", system-ui;
         transition: transform 0.3s ease-in-out;
         background: linear-gradient(#AD8AE1, #ffffff);
        -webkit-background-clip: text;
        background-clip: text;
         color: transparent;
        font-size:32px;
        display:flex;
        margin-right:35px;
        font-weight:600;
        display:inline-block;
        list-style:none;
        text-decoration: none;
    }

    /* Login & Cart Sec for attached Header */
    .attachedLog-nav {
        display:flex;
        float: right;
        margin-left:90px;
    }

      /* Cart Icon but for attached Header */
     .cartIcon2 {
       transform-origin: center;
      display:flex;
      font-size: 40px;
       margin:16px 13px 15px 10px;
      padding:5px;
      color:#9F7FCF;
      filter:
    drop-shadow(1px 1px 0 #9F7FCF)
    drop-shadow(-1px 1px 0 #9F7FCF)
    }

    /* Cart Icon Hover Effect */
    li.cartIcon ion-icon,
    li.cartIcon2 ion-icon {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    }

    /* Cart Icon Wrapper */
    .cartIcon-wrapper {
    overflow: hidden;
    }

    /* Login and Cart Sec for attached Header */
     .attachedLog-nav li a {
        line-height: 1.2;  
        position: relative; 
        z-index: 10;
        padding: 20px 0px 20px 50px;
        font-family:"Cherry Bomb One", system-ui;
         transition: transform 0.3s ease-in-out;
         background: linear-gradient(#AD8AE1, #ffffff);
        -webkit-background-clip: text;
        background-clip: text;
         color: transparent;
        font-size:32px;
        display:flex;
        margin-right:35px;
        font-weight:600;
        display:inline-block;
        list-style:none;
        text-decoration: none;
    }

/* Outline Effect for Text */
.outline {
  filter:
    drop-shadow(1px 1px 0 #9F7FCF)
    drop-shadow(-1px 1px 0 #9F7FCF)
    drop-shadow(1px -1px 0 #9F7FCF)
    drop-shadow(-1px -1px 0 #9F7FCF)
    drop-shadow(1.6px 1.6px 0 #9F7FCF)
    drop-shadow(-1.5px 2px 0 #9F7FCF)
    drop-shadow(1.5px -2px 0 #9F7FCF)
    drop-shadow(-1.5px -1.5px 0 #9F7FCF);
}

/* Gradient Text Effect */
.gradient {
  background: linear-gradient(#c1bdc7, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient2 {
   background: linear-gradient(#C9B2EC, #EAE1F7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient3 {
   background: linear-gradient(#C9B2EC, #bcb6c5);
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
}

    /* Hover Effects for Nav and Cart Icon */
    a[href="#about"]:hover, 
    a[href="menu.html"]:hover, 
    a[href="customer-service.html"]:hover,
    a[href="login-signup.html"]:hover,
     li.cartIcon ion-icon:hover,
     li.cartIcon2 ion-icon:hover,
    a[href="#loc"]:hover { 
       transform:scale(1.1);
       cursor: url('Images/1.png'), pointer; 
    }

    /* Main Background behind EVERYTHING */
    .background {
    display:flex;
    border-radius:5px;
    justify-content: center;
    margin:20px auto;
    padding:0;
    background: linear-gradient(#8c75bc, #AD8AE1);
    width:1310px;
    height:182rem;
    }

    /* Button Text (front page picture button) */
    .btn-menu {
      font-size:25px;
      text-align: center;
        margin:auto 0;
        padding: auto 0;
    }

/* Button Wrapper Sec (front page picture) */
   .button-wrapper {
    margin-top: 80px;
    padding:10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Slogan Wrapper Sec */
.slogan-wrapper {
  margin-top: 70px 10px 10px 10px;
  padding:5px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}

/* text "Pure" (slogan) */
.pure {
  font-family:'Cherry Bomb One', system-ui;
  margin:0;
  font-size: 80px;    
  font-weight: 700;    
}

/* text "Sugar Bliss" slogan */
.sl2 {
  font-family:'DynaPuff', system-ui;
  margin:0;
  font-size: 40px;     
  font-weight: 600;    
}

  /* General Button (and also for the "View menu" button on the front picture)*/
    .btn {
      transition: transform 0.3s ease-in-out;
      font-family: "Cherry Bomb One", system-ui;
      font-size:23px;
        display:inline-block;
        padding: 10px 30px;
        font-weight:300;
        width:200px;
        height:55px;
        text-decoration: none;
        border-radius:200px;
        color:#fff;
    }

    .btn2 {
      transition: transform 0.3s ease-in-out;
      font-family: "Cherry Bomb One", system-ui;
      font-size:19px;
        display:inline-block;
        padding:8px;
        overflow:hidden;
        font-weight:300;
        width:140px;
        height:36px;
        text-decoration: none;
        border-radius:200px;
        color:#fff;
    }
  /* Optional darker outline style for text */
    .darkerOutline {
  filter:
     drop-shadow(1px 1px 0 #7651ad)
    drop-shadow(-1px 1px 0 #7651ad)
    drop-shadow(1px -1px 0 #7651ad)
    drop-shadow(-1px -1px 0 #7651ad)
    drop-shadow(1.6px 1.6px 0 #7651ad)
    drop-shadow(-1.5px 2px 0 #7651ad)
    drop-shadow(1.5px -2px 0 #7651ad)
    drop-shadow(-1.5px -1.5px 0 #7651ad);
    }

    .darkerOutline2 {
      filter:
     drop-shadow(1px 1px 0 #5c3992)
    drop-shadow(-1px 1px 0 #5c3992)
    drop-shadow(1px -1px 0 #5c3992)
    drop-shadow(-1px -1px 0 #5c3992)
    drop-shadow(1.6px 1.6px 0 #5c3992)
    drop-shadow(-1.5px 2px 0 #5c3992)
    drop-shadow(1.5px -2px 0 #5c3992)
    drop-shadow(-1.5px -1.5px 0 #5c3992);
    }

    /*Button for "view menu" button in the front picture of the homepage */
    .btn-full {
        margin-right:20px;
        padding:12px;
        background: linear-gradient(#966cd5, #AD8AE1);
        border:6px solid #8357c4;
        color:#ffffff;
    }

    .btn-full:hover,
    .btn-menu:hover {
    cursor: url("Images/1.png"), pointer;
}

.menu-title {
   font-family:'DynaPuff', system-ui;
  color:rgb(217, 201, 214);
   font-size: 25px;
  width:100%;
  height:40px;
  margin:0;
  padding:0;
}

 /* Background for the front image */
    .background2 {
    top:-10px;
    position:relative;
    z-index:1;
    border-radius:6px;
    background-image:url("Images/bg2.jpg");
    background-repeat: no-repeat;
    background-color: rgba(151, 152, 194, 0.8); 
    background-blend-mode: multiply;
    background-size: 100% auto;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    width:1300px;
    height:550px;
    margin: -35px 0 0 0;
    }

  .marquee {
  width: max-content; 
  height: 75px;
  overflow: hidden;
  background-color: #8c75bc;
  display: flex;
}

.marquee-content {
   letter-spacing: 1px;
  word-spacing: 2px;
  margin-top:30px;
  font-family:'DynaPuff', system-ui;
  color:rgb(217, 201, 214);
   font-size: 17px;
   font-weight:600;
    gap: 15rem;  
  display: flex;
  align-items: flex-start;   
  width: max-content;
  animation: marquee 35s linear infinite;
}

.marquee-content span {
 width: max-content; 
 white-space: nowrap;   
  margin-top:17px;
}
@keyframes marquee {
   0% { transform: translateX(100%); }
   100% { transform: translateX(-100%); }
}


    .pulse {
  display: inline-block;
  transform-origin: center;
  animation: pulseSubtle 1.6s ease-in-out infinite;
}
@keyframes pulseSubtle {
  0%   { transform: scale(1); opacity: 1; }
  50%  { transform: scale(1.04); opacity: .92; }
  100% { transform: scale(1); opacity: 1; }
}

.shake:hover {
  animation: shake 0.45s ease-in-out;
}

@keyframes shake {
  0%   { transform: rotate(0deg); }
  20%  { transform: rotate(1.5deg); }
  40%  { transform: rotate(-1.5deg); }
  60%  { transform: rotate(1deg); }
  80%  { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}

    /* spacer for spaces between sections*/
   .spacer {
    height: 60px;
    width: 100%;
}
    /* Background for the about us section */
    .background3 {
      top:0;
    position:relative;
    z-index:1;
    border-radius:6px;
    background-image: url(Images/boba.png);
     background-color: rgba(151, 152, 194, 0.2); 
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100% auto;
    image-rendering: -webkit-optimize-contrast;
    width:1300px;
    height:400px;
    margin: 0 0 0 0;
    }

    .animate__animated.animate__bounce {
  --animate-duration: 2s;
}

    .background4 {
      top:0;
    overflow:hidden;
    position:relative;
    z-index:1;
    border-radius:6px; 
    background: linear-gradient(#8c6fba, #6d5a8d);
    background-size: 100% auto;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    width:1300px;
    height:900px;
    margin: 0 0 0 0;
    }

      .background5 {
    top:0;
    overflow:hidden;
    position:relative;
    z-index:1;
    border-radius:6px;
   background: linear-gradient(#8c6fba, #6d5a8d);
    background-size: 100% auto;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    width:1300px;
    height:600px;
    margin: 0 0 0 0;
    }

   .menu-flexbox {
    display:flex;
    flex-direction: row;   
    justify-content: center;
    margin:20px auto;
    padding:0;
}

.smallHeader {
  font-family:"Cherry Bomb One", system-ui;
  font-size:26px;
}

.smallText {
  font-family:'DynaPuff', system-ui;
   font-size: 20px;
   font-weight:600;
}

    .flexbox-item {
    border-radius: 5px;
    margin:10px;
    padding:0;
    overflow:hidden;
    text-align:center;
    background-color: #3f3737;
    filter:
    drop-shadow(-1px 1px 0 #634098)
    drop-shadow(-1px 1px 0 #634098)
     drop-shadow(-1px 1px 0 #634098)
    drop-shadow(-1px 1px 0 #634098)
     drop-shadow(-1px 1px 0 #634098)
    drop-shadow(-1px 1px 0 #634098)
     drop-shadow(-1px 1px 0 #634098)
}

  .flexbox-item-1 {
    background-image: url(Images/pic1.jpg);
     background-color: rgba(151, 152, 194, 0.4); 
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100% auto;
    image-rendering: -webkit-optimize-contrast;
    border-radius:6px;
    width:326px;
    height:350px;
  }

    .flexbox-item-2 {
    background-image: url(Images/pic2.png);
     background-color: rgba(151, 152, 194, 0.4); 
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100% auto;
    image-rendering: -webkit-optimize-contrast;
    border-radius:6px;
    width:690px;
    height:350px;
  }

  .flexbox-item-3, 
  .flexbox-item-4 {
    width:39%;
    height:300px;
  }

  .flexbox-item-3 {
    background-image: url(Images/pic3.png);
     background-color: rgba(151, 152, 194, 0.4); 
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100% auto;
    image-rendering: -webkit-optimize-contrast;
    border-radius:6px;
  }

    .flexbox-item-4 {
    background-image: url(Images/pic4.png);
     background-color: rgba(151, 152, 194, 0.4); 
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100% auto;
    image-rendering: -webkit-optimize-contrast;
    border-radius:6px;
  }

.items {
display:flex;
justify-content: center;
flex-direction:row;
flex-grow:1px;
flex-basis:0px;
}

       .text-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text2-wrapper {
  margin-top:30px;
}

.aboutHeader {
  margin-top:4rem;
  font-family:"Cherry Bomb One", system-ui;
  font-size:35px;
}

.aboutDesc {
  line-height: 1.6;
   font-family:'DynaPuff', system-ui;
   font-size: 20px;
   font-weight:600;
   width:900px;
}

.flexbox-item-5 {
  width:540px;
  height:400px;
}

.flexbox-item-6 {
  background: linear-gradient(#69499a, rgb(121, 80, 183));
   width:500px;
  height:400px;
}

.menu-flexbox {
    display:flex;
    flex-direction: row;   
    justify-content: center;
    margin:20px auto;
    padding:0;
}

.imagebox {
   background-color: rgba(151, 152, 194, 0.1); 
    background-blend-mode: multiply;
    background-size: 100% auto;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    width:700px;
    height:550px;
    border-radius:6px;
}

.center {
  text-align: center;
  font-family:'DynaPuff', system-ui;
  color:rgb(217, 201, 214);
  margin:0;
  font-size: 18px;     
  font-weight: 600;  
  text-align:center;
}

.locationimage {
   background-color: rgba(151, 152, 194, 0.5); 
    background-blend-mode: multiply;
    background-size: 100% auto;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
  background-image: url(Images/location.png);
}

 footer {
    margin:0;
    padding:0;
    background-color: #8c75bc;
    padding: 20px;
    padding-top:60px;
    font-size: 80%;
}

.footer {
  margin:0;
  padding:0;
}


footer {
    background-color: #333;
    padding: 20px;
    padding-top:60px;
    font-size: 80%;
}

.footer p {
    color: #aaaaaa;
}

  .footer-nav li {
    float: left;
    list-style: none;
    /* margin-top: 55px; */
    }

    .social-links li {
    float: right;
    list-style: none;
    /* margin-top: 55px; */
        
    }

    .social-links {
    list-style: none;
    float: right;
}

    .footer-nav li a {
        font-size:18px;
        display:flex;
        float:left;
        font-weight:300;
        text-decoration: none;
        color:#888888;
        margin: 0 10px;
        padding:1px 5px;
    }
    
     a[href="flink"]:hover {
       color:#bab8b8;
    }

     .facebook:hover {
    color: rgb(59, 89, 152);
 }

  .google:hover {
    color: rgb(221, 75, 57);
 }

   .instagram:hover {
    color: rgb(188, 42, 141);
 }


     .social-logo {
        display: inline-block;
    width: 70px;
    text-align: right;
    color: #888888;
    font-size: 25px;
    margin-right: 0px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
 }

 h2 {
  font-size:180%;
        word-spacing: 2px;
        letter-spacing:1px;
        font-weight:300;
        text-transform:uppercase;
        text-align:center;
        margin-left:20%;
        margin: 15px 0 30px 78.9062px;
     }