*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: url("Images/2.png"), auto;
    font-family: 'Courier New', Courier, monospace;
}

.logo{
    position: fixed;
    top: 1px;
    left: -30px;
    width: 400px;     
    z-index: 1000;
}
.login-signup-container{
    position: relative ;
    width: 100%;
    min-height: 100vh;
    background-image: url("Images/bg-login7.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: inline-flex;
    justify-content: flex-end; 
    align-items: center;       
    padding-right: 50px;    
}
.web-title{
    align-self: flex-start;
    font-family:  "Shadows Into Light";
    text-align: center;
    margin-right: 80px;
    font-size: 75px;
    margin-top: 55px;
    color: #471656;
}

input{
    outline: none;
    resize: none;   
}

.login-btn{
    margin-top: 5px;
}
.login-btn:hover{
    cursor: url("Images/1.png"), pointer;
}

.login1{
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.login1-1 input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #cfaef7;
  box-sizing: border-box;
  margin-bottom: 10px;
}
input:hover{
    cursor: url("Images/1.png"), pointer;
}

.login-btn {
  width: 320px ;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #A79FE3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background-color: #E5A9F1;
  color: #2b2438;
}

.remember-signup {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  color: #FFFFFF;
}

.new-to {
  margin-top: 10px;
  text-align: center;
  color: #FFFFFF; 
}

.signup-link {
  background-color: #A79FE3;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1rem;
  margin-top: 10px;
}

.signup-link:hover {
  background-color: #E5A9F1;
  color:#2b2438;
  cursor: url("Images/1.png"), pointer;
}

/* .login-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
} */

.forms {
  background-color: #47165640; 
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  width: 400px;
  text-align: center;
  /* border: 1px solid #471656; */
}
.footer {
    width: 100%;
    text-align: center;
    color: #471656; 
    font-size: 0.9rem;
    padding: 15px 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); 
}

#signupcontainer{
    display: none;
}