body {
    cursor: url("Images/2.png"), auto;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background: #fff7ff;
}

button:hover {
    cursor: url("Images/1.png"), pointer;
}

.banner-stack {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.top-banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-banner img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

header img {
    width: 100%;
    display: block;
}

h1.section-title {
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    margin: 60px 0 20px 0;
    color: #d67acb;
    font-weight: bold;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.menu-card {
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.menu-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.menu-card h3 {
    margin: 15px 0 5px;
}

.menu-card p {
    padding: 0 15px;
    margin: 10px 0;
}

.price {
    font-weight: bold;
    color: #c653b4;
    font-size: 1.1rem;
}

button {
    width: 120px;
    height: 50px;
    background: #A79FE3;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #E5A9F1;
}

.popup-bg {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.popup-box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
}

.footer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    text-align: center;
}

.footer-container {
    max-width: 1200px; /* same as your menu grid */
    width: 100%;
    text-align: center;  /* center text inside container */
    color: #c653b4;
    font-weight: bold;
    font-size: 1rem;
}

