body {
    margin: 0;
    /* font-family: ; */
    background: #faf6f0;
    color: black;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: #7565A5;
    color: BLACK;
}

header h1 {
    margin: 0;
    font-size: 42px;
}

header p {
    margin-top: 8px;
    font-size: 18px;
}

.menu-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.menu-section h2 {
    border-bottom: 2px solid #B0A0C4;
    padding-bottom: 8px;
    margin-bottom: 25px;
    font-size: 28px;
    color: black;
}

.menu-item {
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-item h3 {
    font-size: 20px;
    margin: 0;
    color: black;
}

.menu-item .price {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.menu-item p {
    width: 100%;
    margin: 4px 0 0;
    font-size: 15px;
    color: black;
}
.gallery-one{
    height: 200px;
}
        .gallery-wrapper {
    width: 90%;
    max-width: 850px;
    margin: 30px auto;
    text-align: center;
}

.gallery-main {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 12px 40px rgba(170, 160, 255, 0.2);
    margin-bottom: 15px;
}

.thumb-row {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.thumb {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;
}

.thumb:hover,
.thumb.active {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(160, 150, 255, 0.3);
}
.footer{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
