* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-image: url(/Restaurant-Page/Images/bg-login7.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.confirmation-box {
  background: rgba(255,255,255,0.95);
  padding: 40px;
  margin: 20px 0;
  border-radius: 25px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  text-align: center;
}

<<<<<<< HEAD
h2 { color: #7c5cff; margin-bottom: 10px; }
h4 { margin-bottom: 15px; }
#countdownTimer { font-size: 2rem; font-weight: bold; color: #2d087c; margin-bottom: 15px; }
=======
h2 {
    color: #7c5cff;
    margin-bottom: 20px;
}
a:hover{
    cursor: url("Images/1.png"), pointer;
}

#countdownTimer {
    font-size: 2rem;
    font-weight: bold;
    color: #2d087c;
    margin-bottom: 15px;
}
>>>>>>> 1a86db74d2bb77023ab3e76be439f41904e8575e

.order-item {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  padding: 5px 10px;
  border-radius: 10px;
  background: #f0e6ff;
  color: #4a148c;
}

.total {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #2d087c;
}

.button-link {
<<<<<<< HEAD
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  background: #7c5cff;
  padding: 12px 25px;
  border-radius: 12px;
  transition: 0.3s;
}

.button-link:hover { 
    background: #5a3bc2; cursor: pointer; 
=======
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: none;
    color: white;
    background: #A79FE3;
    padding: 12px 25px;
    border-radius: 12px;
    transition: 0.3s;
}

.button-link:hover {
    background: #E5A9F1;
    cursor: url("Images/1.png"), pointer;
}
a {
    color: #4a148c;
    text-decoration: underline;
>>>>>>> 1a86db74d2bb77023ab3e76be439f41904e8575e
}

a { color: #4a148c; text-decoration: underline; }

.footer {
  width: 100%;
  text-align: center;
  color: #c653b4;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 0;
}

.footer-container {
     max-width: 1200px; width: 100%; text-align: center; 
    }
